body{
	margin: 0px auto;	
}

#first{
	border: 1px solid black;
	height: 400px;
	margin: 20px auto;
	padding: 20px;
	width: 600px;
}

	#first button{
		float: right;
	}

#second{
	border: 1px solid gray;
	height: 395px;
}

#third{
	display: none;
}